/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400');

:root {
  --gilead-red: #c51f3f;
  --gilead-gray: #9D9D9D;
  --blue-button-color: #3C587F;
  --default: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* MAIN */


/* SIDEBAR */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: var(--gilead-gray);
  border-color: white;
}
/* SIDEBAR */



/* BUTTON: SHOW REPORT */
.btn-show-report {
    background-color: var(--blue-button-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 1.5px;
    border-color: var(--blue-button-color);
    box-shadow: none;
    border-style: solid;
    height: 30px;
    width: 100px;
}

button.btn-show-report:hover {
    background-color: var(--gilead-gray);
    border-color: var(--gilead-gray);
}
/* BUTTON: SHOW REPORT */



/* TABLE: FLAGGED SUMMARY TABLE */
.gsm-overview-table {
  font-family: var(--default);
}
/* TABLE: FLAGGED SUMMARY TABLE */

/* Site select */
.overall-site-select {
  position: fixed;
  width: 128px;
  top: 64px;
  right: 32px;
  background-color: var(--blue-button-color);
  color: white;
  border: 2px solid var(--gilead-gray);
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  z-index: 1;
}

.overall-site-select:hover {
  cursor: grab;
}



.overall-site-select select,
.overall-site-select option {
    color: black;
}

.flag {
  display: inline-block;
  border-style: solid;
  border-color: black;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  width: 20%;
  font-family: 'Roboto', sans-serif;
}

.flag-amber {
  background-color: #FEAA0280;
}

.flag-red {
  background-color: #FF585980;
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tocify-header0 {
  display: none;
}

tbody.gt_table_body tr:hover:nth-child(odd) {
  background: #f9f9f9;
}


div#study_table_hide {
    display: none;
}



/* credit to: https://codepen.io/alvarotrigo/pen/YzEdrKj */

*,
*:before,
*:after {
  box-sizing: border-box;
}


.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 26px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: var(--blue-button-color);
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
