table {
    width: 100%;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
}

td {
    text-align: center;
}

td.number {
    text-align: right;
}

td.metric {
    width: 3em;
    height: 1.5em;
    text-align: center;
}

.tooltip {
    cursor: help;
}

/* add red background to fourth column */
td:nth-child(3) {
    background-color: #ffcccc;
}

/* add amber background to fifth column */
td:nth-child(4) {
    background-color: #ffcc99;
}
