/* ---------------------------------------------------------------------------------------------- */
/* Examples */
/* ---------------------------------------------------------------------------------------------- */

.rbm-viz--example #controls {
    display: flex;
    justify-content: center;
}

.rbm-viz--example fieldset {
    display: flex;
    justify-content: center;
}

.rbm-viz--example #container {
    margin: auto;
    width: 100%;
    height: 40vw;
}

/* ---------------------------------------------------------------------------------------------- */
/* Group Overview */
/* ---------------------------------------------------------------------------------------------- */


.group-overview {
    border-collapse: separate;
    border-spacing: 0.1em;
}


.group-overview th
.group-overview td {
    text-align: center;
}

.group-overview th {
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 0.25em 0.5em;
}

.group-overview th.group-overview--group {
}

.group-overview th.group-overview--metric {
    font-size: .8em;
}

.group-overview th.group-overview--tooltip,
.group-overview td.group-overview--tooltip {
    cursor: help;
}

.group-overview td {
    text-align: center;
}

.group-overview td.group-overview--metric {
    width: 3em;
    text-align: center;
}

.group-overview td.group-overview--nRedFlags {
    background-color: #ffcccc;
}

.group-overview td.group-overview--nAmberFlags {
    background-color: #ffcc99;
}

