on:
  release:
    types: [published]
  pull_request:
    branches: main
  workflow_dispatch:

name: qualification-report

jobs:
  qualification-report:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.1.3'
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-tinytex@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: build vignette
        run: |
          install.packages("devtools")
          devtools::install(dependencies=TRUE)
          tools::buildVignette("./vignettes/articles/Qualification.Rmd")
        shell: Rscript {0}

      # Upload the qulafication report to the release
      - name: Upload report to release
        if: success()
        uses: svenstaro/upload-release-action@v2
        with:
          file: ./Qualification.pdf
          asset_name: qualification-report.pdf
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          overwrite: true
