on:
  release:
    types: [published]
  pull_request:
    branches: main

name: qualification-report

jobs:
  qualification-report:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: ${{ secrets.LOAD_CLINDATA }}

      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.0.5'
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-tinytex@v2

      - name: Clone clindata
        run: |
          cd ..
          git clone git@github.com:Gilead-BioStats/clindata.git
          cd clindata
          cd ../gsm

      - name: install packages
        shell: Rscript {0}
        run: |
          install.packages("devtools")
          devtools::install('../clindata')
          devtools::install(dependencies=TRUE)

      - name: build vignette
        run: tools::buildVignette("./vignettes/articles/Qualification.Rmd")
        shell: Rscript {0}


      # Upload the qulafication report to the release
      - name: Upload report to release
        if: success()
        uses: svenstaro/upload-release-action@v2
        with:
          file: ./Qualification.pdf
          asset_name: qualification-report.pdf
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          overwrite: false
